p {
    margin: 10px 0px 0px;
}

div.form-group {
    margin: 10px 0px 0px;
}

form {
    margin-top: 30px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}
  
button {
    margin-top: 15px;
}

span {
    font-size: small;
}